html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(0deg, hsl(195, 20%, 86%) 0%, hsl(195, 20%, 86%) 40%, hsl(180, 25%, 92%) 40%, hsl(180, 25%, 92%) 100%) fixed;
}

*,
*:before,
*:after {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/*
  A utility class to totally remove something from the screen,
  while still keeping it available for screen-readers.
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
